header
    height: 120px
    background-color: $white
    width: 100%
.header
    display: flex
    align-items: center
    justify-content: space-between
    &__logo
      & img
        &:hover
          box-shadow: 1px 1px 10px 56px rgba(23, 186, 20, 0.2) inset
    &__navigation
        display: flex
        &-span
            display: flex
            font-family: $font-heebo
            font-weight: 600
            width: 125px
            height: 120px
            font-size: 21px
            padding-right: 5px
            padding-left: 5px
            flex-direction: column
            align-items: center
            justify-content: space-between
            &:hover
                font-size: 25px
                color: $green
                text-shadow: 5px 5px 19px rgba(91, 203, 138, 1)
                transition-duration: .5s
            & span
                padding-top: 35%
            & .border
                visibility: hidden
                width: 125px
                height: 10px
                border-radius: 50px 50px 0 0
                background-color: $green
            &:hover
                & .border
                    visibility: visible
                    animation: swing 2s ease-in
@keyframes swing
    15%
      transform: translateX(8px)
    30%
      transform: translateX(-8px)
    40%
      transform: translateX(6px)
    50%
      transform: translateX(-6px)
    65%
      transform: translateX(2px)
    100%
      transform: translateX(0)
@media screen and (max-width: 992px)
    .header
        flex-direction: column
    header
        height: 100%
@media screen and (max-width: 768px)
    .header
        &__navigation
            flex: 100% 
            flex-wrap: wrap
            justify-content: center