.meditation-background
    background-image: url('/images/bckmeditation.png')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: center center
.meditation
    &__left
        &-unit
            background-image: url('/images/meditleft.png')
            background-repeat: no-repeat
    &__right
        &-unit
            background-image: url('/images/meditright.png')
            background-repeat: no-repeat