.yoga
    padding-top: 50px
    display: flex
    align-items: flex-start
    justify-content: space-evenly
    width: 100%
    &__left
        flex-direction: column
        display: flex
        align-items: center
        width: 30%
        height: 440px
        background-image: url('/images/subtract.png')
        background-size: cover
        background-repeat: no-repeat
        transition: width 2s, height 2s, background-color 2s, transform 3s
        &:hover
            transform: scale(1.1)
    &__center
        flex-direction: column
        display: flex
        align-items: center
        width: 30%
        height: 440px
        background-image: url('/images/subtract2.png')
        background-size: cover
        background-repeat: no-repeat
        transition: width 2s, height 2s, background-color 2s, transform 3s
        &:hover
            transform: scale(1.1)
    &__right
        flex-direction: column
        display: flex
        align-items: center
        width: 30%
        height: 440px
        background-image: url('/images/subtract3.png')
        background-size: cover
        background-repeat: no-repeat
        transition: width 2s, height 2s, background-color 2s, transform 3s
        &:hover
            transform: scale(1.1)
    &__title
        font-family: $font-heebo
        font-weight: 800
        font-size: 17px
    &__image
        padding-top: 40px
        width: 80px
        height: 30%
    &__desc
        font-family: $font-heebo
        font-weight: 600
        font-size: 14px
        text-align: center
        padding-top: 10px
        width: 75%
        height: 25%
    &__btn
        padding-top: 20px
        font-size: 15px
@media screen and (max-width: 992px)
    .yoga
        flex: 100%
        flex-wrap: wrap
        flex-direction: row
        justify-content: center
        &__left
            order: 1
            width: 50%
        &__center
            order: 3
            width: 50%
        &__right
            order: 2
            width: 50%
@media screen and (max-width: 768px)
    .yoga
        flex-direction: column
        &__left
            width: 100%
            height: 650px
        &__center
            width: 100%
            height: 650px
        &__right
            width: 100% 
            height: 650px
        &__image
            padding-top: 50px
@media screen and (max-width: 576px)
    .yoga
        align-content: center
        &__image
            width: 50px
        &__desc
            font-size: 13px
        &__left
            width: 320px
            height: 400px
        &__center
            padding-left: 20px
            width: 300px
            height: 420px
        &__right
            width: 320px
            height: 400px

     
        